.login_button {
    display: block;
    width: 100%;
    border: none;
    background-color: #7edfff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
  }

.logout_button {
    display: block;
    width: 100%;
    border: none;
    background-color: #ababab;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
  }

.register_button {
    display: block;
    width: 100%;
    border: none;
    background-color: #ababab;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
  }
  
.delete_account_button {
    display: block;
    width: 100%;
    border: none;
    background-color: #ff4444;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
  }

a:link { text-decoration: none; }