body {
  padding: 10px;
  padding-bottom: 50px;
}

h1 {
  margin-bottom: 2000px;
}
/* For Demo only */
.cd__main{
   position: relative;
   width: 360px !important;
   height: 720px;
   border: 2px solid #bbb;
}
/* end demo only */
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
}
.item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.active {
  color: rgb(0, 34, 255);
}
.content {
  display: flex;
  flex-direction: column;
}