{% extends 'base.html' %}

{% block title %}
Add Item
{% endblock %}

{% block content %}
<h1>Add Item To Rent</h1>
<link rel="stylesheet" href="/static/css/add_item_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
	$(function() {
		$(":file").change(function() {
		  if (this.files && this.files[0]) {
			for (var i = 0; i < this.files.length; i++) {
			  var reader = new FileReader();
			  reader.onload = imageIsLoaded;
			  reader.readAsDataURL(this.files[i]);
			}
		  }
		});
	  });
	  
	function imageIsLoaded(e) {
		$('#images').append('<img src=' + e.target.result + '>');
	  };
	</script>

<form action="/item_added" method="POST"  enctype="multipart/form-data">
	<label for="title">Title:</label>
    <br>
    <input type="text" id="title" name="title">
    <br>
	<label for="description">Description:</label>
    <br>
    <input type="text" id="description" name="description">
    <br>
	<label for="price">Price:</label>
    <br>
    <input type="number" id="price" name="price">
    <br>
	<label for="category">Category:</label>
	<br>
	<select id="category" name="category">
		<option value="ski">Ski</option>
		<option value="bike">Bike</option>
	</select>
	<br>
	<label for="file">Add images:</label>
    <br>
	<input type='file' multiple accept="image/*" name="file"/>
	<div id="images">
	</div>
	<input type="submit" value="Submit">
</form>
{% endblock %}