<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="CodeHim">
      <title>{% block title %} {% endblock %} - RentMyGear</title>
      <!-- Style CSS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      {% block head %} {% endblock %}
    </head>
   <body>
        {% block content %} {% endblock %}
        <nav class="nav">
            <div {% if page=='home' %}class="item active"{% else %}class="item"{% endif %}>
                <div class="content">
                    <i class="material-icons" onclick="location.href='home';">home</i>
                </div>		
            </div>
            <div {% if page=='search' %}class="item active"{% else %}class="item"{% endif %}>		
                <div class="content">
                    <i class="material-icons" onclick="location.href='search';">search</i>
                </div>
            </div>
            <div {% if page=='add_item' %}class="item active"{% else %}class="item"{% endif %}>
                <div class="content">
                    <i class="material-icons" onclick="location.href='add_item';">add_box</i>
                </div>		
            </div>
            
            <div {% if page=='settings' %}class="item active"{% else %}class="item"{% endif %}>
                <div class="content">
                    <i class="material-icons" onclick="location.href='settings';">menu</i>
                </div>		
            </div>
        </nav>
      <!-- <script src="/static/js/script.js"></script> -->
   </body>
</html>