{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block head %}
<link rel="manifest" href="../manifest.json">
<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("../sw.js", {scope:"/"}).then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
    </script>
{% endblock %}
{% block content %}
  <h1>Rent My Gear</h1>
  <h2>Items</h2>
{% endblock %}