<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="manifest" href="../manifest.json">
        <script>
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', function() {
                navigator.serviceWorker.register("../sw.js", {scope:"/"}).then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              // registration failed :(
                 console.log('ServiceWorker registration failed: ', err);
               });
             });
            }
            </script>
    </head>
<body>
  <h1>Home Page</h1>
  <a href="/login">
    <button type="submit" value="login">Login</button>
  </a>

  </br>
  <a href="/register">
    <button type="submit" value="register">Register</button>
  </a>

  </br>
  <a href="/logout">
    <button type="submit" value="logout">Logout</button>
  </a>
</body>
</html>