{% extends 'base.html' %}

{% block title %}
Item details
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/home_style.css">

<h1>Item details</h1>
<h2>{{item['title']}}</h2>
<p>Description: {{item['description']}}</p>
<p>Price: {{item['price']}}</p>
<p>Category: {{item['category']}}</p>
<p>Posted by: {{item['user']}}</p>

{% if can_delete %}
<button class="delete_button">Delete listing</button>
{% else %}
<button class="rent_button">Rent Item</button>
{% endif %}

<h2>Photos:</h2>
    {% for url in item['images'] %}
        <img src="{{url}}">
    {% endfor %}

{% endblock %}