{% extends 'base.html' %}

{% block title %} 
Login 
{% endblock %}

{% block content %} 
  <h1>Login</h1>
  <link rel="stylesheet" href="/static/css/form_style.css">

  <form action="/login" method="POST">
    <label for="email">email:</label>
    <br>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">password:</label>
    <br>
    <input type="password" id="password" name="password"><br><br>
    <br>
    <input type="submit" value="Login">
  </form>
{% endblock %}
